<%- include("partials/header") -%>

<h1>About project Free Temp Signs</h1>

<p>Project "Free Temp Signs" was started by Archway Grapchic as a way to provide quick temporary signs for Certificate of Occupancy requirements for contractors in Arkansass. We know that when you've got a large project, sometimes signage can be one of the last things on your mind, until it's time to call the Fire Marshal & get a CO, then everything can become a mad scramble. We hope that Project Free Temp Signs can help alleviate some of the stress in getting signage taken care of for while you wait for your permenant signage to arrive.
</p>
<br>
<p>This service is available to all contractors, even if you did not purchase signage through us.</p>

<%- include("partials/footer") -%>
