
<%- include("partials/header"); -%>

<div class="py-5 text-center">
  <img class="d-block mx-auto mb-4" src="images/archwayLogo.png" alt="" width="72" height="72">
  <h2>You've requested <%=requestCount%> signs.</h2>
  <p class="lead">The free temporary signage package is limited to 25.</p>
  <br>
  <br>
  <ul class="nav navbar-nav navbar-right">
    <li id="home"><a href="/">Return to signage selection</a></li>
    <!-- <li id="contact"><a href="/contact">CONTACT US</a></li> -->
  </ul>
</div>



<%- include("partials/footer"); -%>
